.skills-list {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card-skill {
        text-align: center;
        transition: transform 0.3s ease;
        margin: 0.7rem;
        padding: 1rem;
        position: relative;
        width: 75px;
        height: 100px;

        img {
            width: 3.125rem;
            height: 3.125rem;
        }

        p {
            margin-top: 0.625rem;
        }
    }

    .card-skill:hover {
        color: $green-light;
        transform: scale(1.1);
    }
}