.contactMePage {
    height: 100%;
    margin: 0;

    font-family: $font-family;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: $background-radient;
    color: white;

}