body {
    height: 100%;
    margin: 0;

    .home-page {
        @include bg-pages;

        .image {
            margin: 5% 0;
            background-image: url("https://i.imgur.com/NWoE8wK.png");
            filter: grayscale(1);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 50%;
            width: 30vw;
            height: 30vw;
            position: relative;
            translate: 20%;
            visibility: hidden;

            &.animated-image {
                visibility: visible;
                animation: fadeIn 0.5s forwards;
            }
        }

        .contentText {

            position: absolute;
            z-index: 1;
            translate: -60%;

            h1 {
                font-size: 6rem;
                line-height: 1;
                margin: 0%;
                visibility: hidden;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);


                .break-line {
                    display: block;
                }
            }

            .show-title {
                visibility: visible;
                overflow: hidden;
                white-space: nowrap;
                animation: typing 0.5s steps(100, end);
            }

            @keyframes typing {
                from {
                    width: 0;
                }

                to {
                    width: 100%;
                }
            }


            p {
                font-size: 2rem;
                visibility: hidden;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
            }

            .social-link {
                display: flex;
                height: 70px;
                width: 270px;
                padding-left: 3.5rem;
                visibility: hidden;

                &.animated-image {
                    visibility: visible;
                    animation: fadeIn .5s forwards;
                }

                .svg {
                    transition: opacity 0.25s;
                    z-index: 2;
                    cursor: pointer;
                    transform: scale(1);
                    width: 60%;
                    height: 100%;
                }

                .social-github,
                .social-linkedin,
                .social-cv {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 25%;
                    color: whitesmoke;
                    font-size: 32px;
                    transition: 0.25s;
                    border-radius: 50px;
                }

                .social-github:hover {
                    background-color: black;
                    animation: bounce 0.4s linear;
                }

                .social-linkedin:hover {
                    background-color: #0a66c2;
                    animation: bounce 0.4s linear;
                }

                .social-cv:hover {
                    background-color: #06900d;
                    animation: bounce 0.4s linear;
                }

                @keyframes bounce {
                    40% {
                        transform: scale(1.3);
                    }

                    60% {
                        transform: scale(0.7);
                    }

                    80% {
                        transform: scale(1.1);
                    }

                    100% {
                        transform: scale(0.9);
                    }
                }
            }

        }
    }
}