$background-gradient: radial-gradient(#173b30, #000000fa);
$green-light: #53cd98;
$green-dark: #173b30;
$font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

@mixin button-style {
    background-color: #42a66c;
    display: inline-block;
    padding: 16px 40px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #42a66c;
    margin-right: 30px;
    border-radius: 6px;
}

@mixin button-style-hover {
    background-color: transparent;
    border: 1px solid #53cd98;
    color: #53cd98;
    transition: .5s;
    cursor: pointer;
}

@mixin button-flag {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

@mixin logosStyle {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 5%;
    width: 40px;
    height: 40px;
}